NEXT_PUBLIC_API_BASE_URL=https://shofiqul81severdb.vercel.app/
ADMIN_USERNAME=admin
ADMIN_PASSWORD=X123
JWT_SECRET=ae459373d2b0ec188de0347db64a14cd
PRIVATE_DATA_API_KEY=a96fbf4cc4e70814392767e1330aeed59a0ce823
DEMO_USERNAME=user
DEMO_PASSWORD=u123

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dvjeaplel
CLOUDINARY_API_KEY=965318298626492
CLOUDINARY_API_SECRET=JjK7nxRbUadlYJ4IesuGh1QKw9Q
CLOUDINARY_URL=cloudinary://965318298626492:JjK7nxRbUadlYJ4IesuGh1QKw9Q@dvjeaplel
