NEXT_PUBLIC_API_BASE_URL=https://my-portfolio-backend-ebon.vercel.app/
ADMIN_USERNAME=your-admin-username
ADMIN_PASSWORD=your-secure-admin-password
JWT_SECRET=your-jwt-secret-key

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dvjeaplel
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@dvjeaplel
